
@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    font-family: arial;
    font-size: 8pt;
}

body {
    padding: 0;
    margin: 18px;
    background-color: @hover-bg;
}

h2 {
    font-size: 10pt;
    border-bottom: 1px dotted gray;
}

ul {
    margin-left: 0;
    padding: 0;
    cursor: default;
}

li {
    background: url("../images/arrow_right_spearmint.png") no-repeat center left;
    padding: 0 0 0 14px;
    list-style: none;
    margin: 0;
}

.text-right {
  text-align: right;
}
#myGrid {
  font-family: 'Roboto', sans-serif;
  border: 1px solid #1a237e;
}
#myGrid .slick-header-column {
  font-size: 12px;
  height: 48px;
  line-height: 48px;
  background: #3f51b5;
  color: #fff;
  border-color: #fff;
}
#myGrid .slick-header-column .slick-column-name {
  padding: 10px;
}
#myGrid .slick-row {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 45px;
}
#myGrid .slick-row.active {
  background-color: #c5cae9;
}
#myGrid .slick-row:hover {
  background-color: #9fa8da;
}
#myGrid .slick-row .slick-cell {
  height: 46px;
  padding: 0 14px;
  color: #212121;
}


div.loading-indicator {
    display: block;
    margin: 0 3.5%;
    background: white;
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    /* margin-left: -114px; */
    z-index: 10;
    width: 90%;
    font-weight: bold;
    height: 21px;
    text-align: center;
    padding: 6px;
    box-shadow: 0px 0px 7px #B9B9B9;
}

div.loading-indicator label {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('images/loading.gif') no-repeat center bottom;
}
